/* .CardList.css */
/* src/POPOSList.css */
.CardList {
  width: calc(100% - 80px);
  margin: auto;
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 40px;
}

.Search-bar {
	border: 1px #333 solid;
	border-radius: 5px;
	margin: 10px auto 10px auto;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 40px;
	font-size: 40px;
	background-image: linear-gradient(to right, grey, transparent 40%, transparent 100%)
}
